h1
{
    text-align: center;
}

.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll li {
    display: inline-block;
    float: none;
}

.video-wrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-logout {
    display: block;
    background-color: #3b3455;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    margin-left: 45%;
    margin-top: 20%;
    width: 155px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    color: white;
}

.favorite_no {
    color: #ddd;
}

.favorite_yes {
    color: #FFD700;
}

.favorite_yes:hover {
    color: #ddd;
    text-decoration: none;
}

.favorite_no:hover {
    color: #FFD700;
    text-decoration: none;
}
