body {
    background-color: #F9F6F0;
}


h1
{
    text-align: center;
}

.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll li {
    display: inline-block;
    float: none;
}

.video-wrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.favorite_no {
    color: #ddd;
}

.favorite_yes {
    color: red;
}

.favorite_yes:hover {
    color: #ddd;
    text-decoration: none;
}

.favorite_no:hover {
    color: red;
    text-decoration: none;
}

