<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title lang="en">About crowdfunding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<header th:insert="header :: header"></header>

<h1>Hello, welcome to our crowdfunding companies service!</h1>

<pre style="font-size: 20px; text-align: center; margin-top: 10%">Crowdfunding is a way to raise money for an individual or organization by collecting donations through family,
    friends, friends of friends, strangers, businesses, and more. By using social media to spread awareness, people
    can reach more potential donors than traditional forms of fundraising.
Before you start crowdfunding find the best platform for your needs.
    Compare the best online fundraising platform by fees, features, support, and more.
</pre>

</body>
</html>