<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create company</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/app/content/bootstrap.min.69bb491202d2.css">
  <link rel="stylesheet" type="text/css" href="/static/app/content/bootstrap-social.3a8403020d3d.css">
  <link rel="stylesheet" type="text/css" href="/static/app/content/site.eac99ef4e7cc.css">
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<header th:insert="header :: header"></header>

<h1>Create new company:</h1>

<form th:action="@{/profile/create/company}" th:object="${company}" method="post" class="form-horizontal">
  <input type="hidden" name="csrfmiddlewaretoken" value="iIPbMdDAG4l6aVyaP7yPDEYQuLkopfHkGR4vc9qiGhFp83yKjeeJQd6hypJzkDO2">
  <hr>

  <div class="form-group">
    <label for="id_name" class="col-md-2 control-label">Company name</label>
    <div class="col-md-10">
      <input type="text" th:field="*{name}"
             name="name" class="form-control" placeholder="Name" maxlength="200" required="" id="id_name">
    </div>

    <div style="margin-top: 20px;" class="form-group">
      <label for="id_category" class="col-md-2 control-label">Topic</label>
      <div class="col-md-10">
        <select name="topic" th:field="*{topic}"
                class="form-control" placeholder="Category" required="" id="id_category">
          <option value="" selected="">---------</option>

          <option value="Art">Art</option>

          <option value="Comics">Comics</option>

          <option value="Crafts">Crafts</option>

          <option value="Dance">Dance</option>

          <option value="Design">Design</option>

          <option value="Fashion">Fashion</option>

          <option value="Film &amp; Video">Film &amp; Video</option>

          <option value="Food">Food</option>

          <option value="Games">Games</option>

          <option value="Journalism">Journalism</option>

          <option value="Music">Music</option>

          <option value="Photography">Photography</option>

          <option value="Publishing">Publishing</option>

          <option value="Technology">Technology</option>

          <option value="Theater">Theater</option>

        </select>
      </div>
    </div>

  </div>
  <div class="form-group">
    <label for="id_tags" class="col-md-2 control-label">Tags</label>
    <div class="col-md-10">
      <input type="text" th:field="*{tags}" name="tags" class="form-control" placeholder="Tags" required="" id="id_tags">
    </div>
  </div>

<!--  MARKDOWN-->
    <label for="description">Description</label> <br>
    <textarea th:field="*{description}" autocomplete="on" id="description" name="description"
              rows="3" cols="33">
    </textarea>

  <div class="form-group">
    <label for="id_video" class="col-md-2 control-label">Youtube video URL</label>
    <div class="col-md-10">
      <input type="url" name="youtubeURL" th:field="*{youtubeURL}"
             class="form-control" autocomplete="on" placeholder="YT video URL" maxlength="200" id="id_video">
    </div>
  </div>
  <div class="form-group">
    <label for="id_goal" class="col-md-2 control-label">Company goal (US$)</label>
    <div class="col-md-10">
      <input type="number" th:field="*{companyGoal}"
             oninput="if (this.value.length > this.maxLength) this.value
             = this.value.slice(0, this.maxLength);"
             maxlength = "9"
             name="companyGoal" class="form-control" placeholder="goal" step="0.01" required="" id="id_goal">
    </div>
  </div>
  <div class="form-group">
    <label for="id_expiration_date" class="col-md-2 control-label">Company expiration date</label>
    <div class="col-md-10">
      <input type="date" th:field="*{expirationDate}"
             name="expirationDate" class="form-control" required="" id="id_expiration_date">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="hidden" name="next" value="/">
      <input type="submit" value="Create company" class="btn btn-success">
    </div>
  </div>

</form>

</body>
</html>