<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create company</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
  </head>

  <body>
    <header th:insert="header :: nav"></header>
    <div class="container">
      <h1>Create new company:</h1>

      <div th:if="${isUnique} == '0'" class="alert alert-danger" role="alert">
        Company with this name is already exists
      </div>

      <div th:if="${isDateWrong} == '1'" class="alert alert-danger" role="alert">
        Choose the correct expiration date
      </div>

      <form th:action="@{/profile/create/company}" th:object="${company}" method="post">
        <hr>

        <div class="form-group row">
          <label for="id_name" class="col-md-2 control-label">Company name</label>
          <div class="col-md-10">
            <input type="text" th:field="*{name}"
                   name="name" class="form-control" placeholder="Name" minlength="10" maxlength="200" required="" id="id_name"
                  pattern="(.|\s)*\S(.|\s)*" title="Введите корректное название кампании">
          </div>
        </div>

        <div class="form-group row">
          <label for="id_category" class="col-md-2 control-label">Topic</label>
          <div class="col-md-10">
            <select name="topic" th:field="*{topic}"
                    class="form-control" placeholder="Category" required="" id="id_category">
              <option value="" selected="">---------</option>
              <option value="Art">Art</option>
              <option value="Comics">Comics</option>
              <option value="Crafts">Crafts</option>
              <option value="Dance">Dance</option>
              <option value="Design">Design</option>
              <option value="Fashion">Fashion</option>
              <option value="Film &amp; Video">Film &amp; Video</option>
              <option value="Food">Food</option>
              <option value="Games">Games</option>
              <option value="Journalism">Journalism</option>
              <option value="Music">Music</option>
              <option value="Photography">Photography</option>
              <option value="Publishing">Publishing</option>
              <option value="Technology">Technology</option>
              <option value="Theater">Theater</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="id_tags" class="col-md-2 control-label">Tags</label>
          <div class="col-md-10">
            <input type="text" th:field="*{tags}" name="tags" class="form-control" placeholder="Tags" id="id_tags">
          </div>
        </div>

        <div class="form-group row">
          <label for="description" class="col-md-2 control-label">Description</label>
          <div class="col-md-10">
            <textarea th:field="*{description}" autocomplete="on" id="description" name="description"
                      class="form-control"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="id_video" class="col-md-2 control-label">Youtube video URL</label>
          <div class="col-md-10">
            <input type="url" name="youtubeURL" th:field="*{youtubeURL}"
                   pattern="(?<=watch\?v=|/videos/|embed\/)[^#\&\?]*"
                   class="form-control" autocomplete="on" placeholder="YT video URL" maxlength="200" id="id_video">
          </div>
        </div>

        <div class="form-group row">
          <label for="id_goal" class="col-md-2 control-label">Company goal (US$)</label>
          <div class="col-md-10">
            <input type="number" min="100" max="1000000" th:field="*{companyGoal}"
                   oninput="if (this.value.length > this.maxLength) this.value
                   = this.value.slice(0, this.maxLength);"
                   maxlength = "9"
                   name="companyGoal" class="form-control" placeholder="goal" step="1" required="" id="id_goal">
          </div>
        </div>

        <div class="form-group row">
          <label for="id_expiration_date" class="col-md-2 control-label">Company expiration date</label>
          <div class="col-md-10">
            <input type="date" th:field="*{expirationDate}"
                   name="expirationDate" class="form-control" required="" id="id_expiration_date">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-10">
            <input type="hidden" name="next" value="/">
            <input type="submit" value="Create company" class="btn btn-success">
          </div>
        </div>
      </form>
    </div>
  </body>
</html>